.container {
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template-columns: 241px 1fr;*/
    /*width: 100vw;*/
    /*height: 100vh;*/

    /*display: -ms-grid;*/
    /*-ms-grid-columns: 241px 1fr;*/
}

.outlet {
    width: 100%;
}